/*Tudo*/
* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 24px 20px;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

nav img {
    width: 70px;
}

section {
    margin: 28px;
    background-color: #f7e8d4;
    border-radius: 12px;
    border: 3px solid #6b3d22;
    padding: 30px;
}

section img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 18px auto 0;
    border: 2px solid #6b3d22;
    border-radius: 12px;
}

#img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

#img h2 {
    flex-basis: 100%;
}

#imgCapp, #imgGala, #imgEsxp {
    width: 280px;
}

/*Pagina inicial*/

body {
    background: #fbf4e8 ;
}
#blocoInicial {
    border: 3px solid #6b3d22;
    background: #d8c3a0;
    border-radius: 12px;
}

h1, p, h2 {
    color:#6b3d22 ;
}

a {
    border-radius: 12px;
    padding: 8;
    text-decoration: none;
    background: #fbf4e8;
    border: 2px solid #6b3d22 ;
    color: #6b3d22;
    
}

a:hover {
    background: #8fb1a0;
    cursor: pointer;
}

#img  img {
    transition: transform 0.3s;
    cursor: pointer;
}

#img img:hover {
  transform: scale(1.1);
}


#imgCapp #imgGala #imgEsxp {
    cursor: pointer;
    text-transform: (1.05);
}



/*--------pAGINAsOBRE----------*/
#blocoInicialSobre {
   border: 3px solid #6b3d22;
    background: #d8c3a0;
    border-radius: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 640px;
    margin: 16px auto;
    background: #fbf4e8;

}

th {
    background: #f0d3b4;
}

/*---------PaginaConatato----------*/
#blocoInicialContato {
    border: 3px solid #6b3d22;
    background: #d8c3a0;
    border-radius: 12px;
}

#PgSobre {
    background: #f7e8d4;
    border: 3px solid #6b3d22;
    border-radius: 12px;
    padding: 12px;


}
